<div class="body">
<div class="container">


<div class="row">
<div class="col-md-3 col-md-offset-3">

<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>

<div class="alert">
<% if @book.errors.any? %>
<%= @book.errors.count %>error prohibited this obj from being saved:<br>
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
</div>

<p>title</p>

<%= f.text_field :title, class: "book_title" %>

<p>body</p>

<%= f.text_field :body, class: "book_body" %>

<%= f.submit 'Update Book' %>

<% end %>

<%= link_to "Show", book_path(@book.id), class: "show_#{@book.id}" %>
<%= link_to "Back", books_path, class: "back" %>
</div>
<div class="col-md-3">
</div>
</div>
</div>
