<div class="body">

<div class="container">

<div class="flash">
<%= flash[:notice] %>
</div>

<div class="flash">
<%= flash[:update] %>
</div>


<div class="row">
<div class="col-xs-3">

<h1>User info</h1>

 <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "user_image", fallback: "no_image.jpg" %>


<table class="table">
	<tbody>
	<tr>
		<th>name</th>
		<th><%= @book.user.username %></th>
	</tr>
	<tr>
		<th>introduction</th>
		<th><%= @book.user.introduction %></th>
	</tr>
   </tbody>
</table>

<div class="row">
<%= link_to '', edit_user_path(@book.user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@book.user.id}" %>
</div>

<h1>New book</h1>

<%= render 'users/new',books: @book %>

</div>

<div class="col-xs-9">
<h1>Book detail</h1>

<table class="table">

  <tbody>
		<tr>
			<td>
<%= attachment_image_tag @book.user, :profile_image, :fill, 10, 10, format: 'jpeg', class: "user_image", fallback: "no_image.jpg" %><br>

          <%= link_to @book.user.username, user_path(@book.user), class: "books" %>
           </td>
           <td>
           	<%= @book.title %>
           </td>
           <td>
           	<%= @book.body %>
           </td>
           <td>
            <% if @book.user_id == current_user.id %>
             	<%= link_to "Edit", edit_book_path(@book.id), class: "btn-sm btn-success edit_#{@book.id}" %>
             </td>
             <td>
               <%= link_to "Destroy", book_path, method: :delete,"data-confirm" => "本当に消しますか？", class: "btn-sm btn-danger destroy_#{@book.id}" %>
             </td>
           <% end %>

       </tr>
   </tbody>

</table>
</div>
</div>
</div>
